/*!***************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[3]!./src/app/_blog/components/CategoryLink.css ***!
  \***************************************************************************************************************************************************************************************************************************************************************************************/
 
.link {
    color: #000;
    text-decoration: none;
    font-size: 1.2rem;
}

/* Changing the color */
.link:hover {
    color: red;
}

